/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.navbar a{
    color: white;
    font-family: 'Poppins';
}



.navbar{
    color: white;
    position: absolute;
    padding: 50px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';



}

.navbar .logo{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 600px;
    align-items: center;


}

.navbar .nav-links ul{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins';
    

}

.navbar .nav-links ul li{
    display: flex;
    margin: 0 10px;
    color: white;
    font-family: 'Poppins';

}


body{
    position: relative;
    background-image: url(../images/3531295.jpg);
    max-height: auto;
    width: 100%;
    background-repeat: no-repeat;


}

.button {
    position: relative;
    top: 220px;
    left: 200px;
    background-image: linear-gradient(to right, #f1126f 0%, #fd744a  51%, #febe29  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 45px;
  }

  .button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  img{
    position: relative;
    width: 25%;
    max-height: auto;
    top: 200px;
    left: 50px;
    border-radius: 30px;
}
#sup{
    position: relative;
    top: -300px;
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: 'Poppins';
}

#bts{
    position: relative;
    top: -250px;
    text-align: center;
    color: white;
    font-size: 21px;
    font-family: 'Poppins';
    font-style: italic;
}

.contenant{
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    background-color: white;
    top: 175px;
}

footer{
    position: relative;
    top: 170px;
    flex-shrink: 0;
    border-top: 1px dashed black;
    width: 100%;
    height: 150px;
    background-color: #122e53;
    color: white;
}

.contenu{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: #f9c744;




}
footer li{
    color: white;


}

#av{
    position: relative;
    color: white;
    right: 500px;
}
#ar{
    position: relative;
    color: white;
    left: 500px;
}

.res{
    color: white;

}

#pave{
    position: relative;
    text-align: center;
    top: 100px;
    font-family: 'Poppins';
    font-size: 20px;






}



